.cvPreview {
    background: #222222;
    box-shadow: 0px 0px 9px 0px #d8a2fa47;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    grid-area: cvPreview;
    height: 29.63cm;
    padding: 15px 75px 0 85px;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    width: 21cm;
    border-radius: 30px;
}

.personalDataPreviewMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 15px;
}

.personalDataPreviewRight {
    text-align: end;
}

.picture {
    background-color: #fff;
    border-radius: 50%;
    height: 90px;
    position: absolute;
    margin-top: 0rem;
    right: 67px;
    width: 90px;
}

/* work experience */

.workExperienceContent {
    display: flex;
    align-items: flex-start;
    gap: 6rem;
    padding: 15px;
}


.workExperienceContent h2 {
    color: #D8A2FA;
    font-weight: 900;
}


.workExperienceContent h3 {
    font-style: italic;
}