@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");


#root {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "cvForm cvPreview";
  padding: 30px 0 30px 0;
  color: aliceblue;
  gap: 3rem;
}

@media (max-width: 768px) {
  #root {
    grid-template-columns: 1fr; 
    grid-template-areas: "cvForm" "cvPreview"; 
  }
  
  #root .cvForm, #root .cvPreview {
    width: 100%; 
    padding: 0 20px;
  }

  #root .cvForm {
    overflow-y: auto; 
  }
  
  #root .cvPreview {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px; 
    margin: 0 20px; 
    max-width: calc(100% - 40px); 
    
  }

}