@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");


#root {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "cvForm cvPreview";
  justify-content: space-evenly;
  padding: 30px 0 30px 0;
  color: aliceblue;
}


